/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 mar 2024, 13:51:25
    Author     : berjo
*/
.negrobackground{
    -fx-background-color:#000000
}

.azul_estilo{
    -fx-background-color:#1E90FF
}

.blanco_puro{
    -fx-background-color:#ffffff
}

.boton_enfocado_subir_imagen{
    -fx-background-color:#1B77E0;
    -fx-background-radius: 20; 
    -fx-text-fill: #ffffff;
}
.boton_desenfocado_subir_imagen{
    -fx-background-color:#1E90FF;
    -fx-background-radius: 20;
    -fx-text-fill: #ffffff;    
}

.textfield_registro{
    -fx-background-color: #000000; 
    -fx-border-color: #222222;
    -fx-background-radius: 5px; 
    -fx-border-radius: 5px; 
    -fx-padding: 5px; 
    -fx-border-width: 2px;
    -fx-text-fill: #ffffff;
}

.boton_desenfocado_registro{
    -fx-background-color:#000000;
    -fx-background-radius: 20;
    -fx-border-radius: 20; 
    -fx-border-color: #1E90FF; 
    -fx-border-width: 2px; 
}

.boton_enfocado_registro{
    
    -fx-background-color:#1E90FF;
    -fx-background-radius: 20;
    -fx-text-fill: #ffffff;
}
  
.label_titulos{
    -fx-text-fill: #1E90FF
}

.label_subtitulos{
    -fx-text-fill: #ffffff
}

.hbox_titulo {
    -fx-background-color: #ffffff;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-padding: 10px;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 10, 0.5, 0.0, 0.0); /* Sombra */
}

/* Estilo para el TableView */
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: lightgrey;
    -fx-border-width: 1px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

/* Estilo para el fondo del encabezado de las columnas */
.table-view .column-header-background {
    -fx-background-color: #1E90FF; /* Azul más oscuro */
    -fx-border-color: darkblue; /* Color del borde más oscuro */
    -fx-border-width: 0 0 2 0; /* Línea de separación en la parte inferior */
    -fx-background-radius: 10 10 0 0; /* Esquinas redondeadas en la parte superior */
}

/* Estilo para la etiqueta del encabezado */
.table-view .column-header .label {
    -fx-text-fill: white; /* Color del texto en el encabezado */
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-background-color: #1E90FF; /* Color de fondo del encabezado */
    -fx-border-color: darkblue; /* Color del borde más oscuro */
    -fx-border-width: 0 0 2 0; /* Borde más oscuro alrededor del encabezado */
    -fx-background-radius: 10 10 0 0; /* Esquinas redondeadas en la parte superior */
}

/* Estilo para las celdas de las filas */
.table-view .table-row-cell {
    -fx-background-radius: 0; /* Sin esquinas redondeadas en las celdas */
}

/* Estilo para las celdas de las filas con bordes */
.table-view .table-cell {
    -fx-border-color: lightgrey; /* Color de la línea de separación entre celdas */
    -fx-border-width: 0 0 1 1; /* Líneas de separación entre celdas */
    -fx-padding: 8px; /* Espaciado dentro de las celdas */
}

/* Estilo para el texto dentro de la tabla */
.table-view .column-header .label,
.table-view .table-cell {
    -fx-font-family: "Arial";
}


